/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cuerpo */
body { /* Texto de Cuerpo */
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* Encabezado */
header { /* Texto de Encabezado */
    background-color: #ffeeaa;
    color: #2c7bc3;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.header-layout { /* Panel de Encabezado */
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    border-bottom: 2px solid #ffc000;
}

#Logo img { /* Imagen de Encabezado */
    height: 50px;
}

.header h1 { /* Título de Encabezado */
    font-size: 1.5rem;
    margin-left: 15px;
    animation: slideIn 0.5s ease-out;
}

nav ul { /* Barra de Menú */
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

nav ul li {
    margin-top: 10px;
    margin-left: 20px;
}

nav ul li a { /* Opciones de Menú */
    text-decoration: none;
    color: #5ea2ee;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover { /* Estilo: Cuando el usuario pasa el mouse sobre el enlace, se añade un subrayado al texto */
    text-decoration: underline;
    transition: text-decoration 0.3s ease-in;
}

/* Sección de Bienvenida */
.foreword { /* Entrada */
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: #fff;
    animation: fadeIn 1.5s ease-in-out;
}

.foreword-layout h2 { /* Título de Entrada */
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.85);
    animation: slideIn 0.7s ease-out;
}

.foreword-layout p { /* Párrafo de Entrada */
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.85);
    animation: slideIn 0.9s ease-out;
}

.cta-button { /* Botón de Compras */
    display: inline-block;
    background-color: #ffd700;
    color: #000;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    animation: bounceIn 1.2s ease-out;
}

.cta-button:hover {
    background-color: #ffc107;
    color: #000;
}

/* Sección de Destacados */
.features { /* Destacados */
    padding: 50px 20px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.features h2 { /* Título de Destacados */
    font-size: 2rem;
    margin-bottom: 30px;
    animation: slideIn 1s ease-out;
}

.features-list { /* Panel de Destacados */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.features-item { /* Panel de Producto */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    animation: fadeIn 1s ease-in-out;
    flex-grow: 1; /* Hace que la descripción ocupe el espacio disponible */
    justify-content: space-between; /* Distribuye el espacio para que el precio y botón estén abajo */
}

.features-item img { /* Imagen de Producto */
    max-width: 50%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.features-item h3 { /* Título de Producto */
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.features-item p { /* Descripción de Producto */
    margin-bottom: 10px;
}

.price { /* Precio */
    font-size: 1.2rem;
    font-weight: bold;
    color: #28a745;
    margin-top: auto; /* Empuja los elementos hacia abajo */
}

.add-to-cart { /* Botón de Productos */
    background-color: #ffc107;
    border: none;
    padding: 10px;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
}

.add-to-cart:hover {
    background-color: #e0a800;
    transition: background-color 0.3s ease-in-out;
}

/* Boletín */
.newsletter { /* Boletín */
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.newsletter h2 { /* Título de Boletín */
    font-size: 2rem;
    margin-bottom: 20px;
}

.newsletter p { /* Párrafo de Boletín */
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.newsletter form { /* Panel de Boletín */
    display: flex;
    justify-content: center;
}

.newsletter input[type="email"] { /* Email de Boletín */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
}

.newsletter button { /* Botón de Suscripción */
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: bounceIn 1.5s ease-out;
}

.newsletter button:hover {
    background-color: #218838;
    transition: background-color 0.3s ease-in-out;
}

/* Footer */
footer { /* Pie de Página */
    padding: 20px;
    background-color: #ffeeaa;
    color: #2c7bc3;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    margin-top: auto;
}

.social-media { /* Red Social */
    margin-top: 10px;
}

.social-media img { /* Imagen de Red Social */
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
}

.social-media img:hover {
    opacity: 0.7;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/* Responsive */
@media screen and (max-width: 768px) {
    .logo h1 {
        font-size: 1.2rem;
    }

    .features-list {
        flex-direction: column;
    }

    .features-item {
        width: 80%;
        margin: 0 auto 20px auto;
    }

    .newsletter input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .newsletter form {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .logo h1 {
        font-size: 1rem;
    }

    .features-item {
        width: 100%;
    }
}
